h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}

h1,
h2 {
  font-weight: 400;
}

.TextContainer {
  text-align: center;
  margin-inline: auto;
  max-width: 20rem;

  h1,
  h2 {
    line-height: 1;
  }
}
